.site-title{
	color:#eee!important;
}
.site-subtitle { 
  margin: 0; color:#eee!important;
}
.site-meta {
  padding: 20px 0;
  background:#5D687A
  background-image:
  linear-gradient(60deg, #CFD2CB 20px, transparent 0), 
  linear-gradient(50deg, #2C4A65 20px, transparent 0), 
  linear-gradient(20deg, #121A27 20px, transparent 0)
  background-size:60px 100%, 50px 100%, 40px 100%;
  
  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}

.brand {
  display: block;
  padding: 0;
  background: none;

  &:hover { color: white; }
}

.site-search form { display: none; }
