.site-title{
	color:#fff!important;
}
.site-subtitle { 
  margin: 0; color:#fff!important;
}
.site-meta {
  padding: 20px 0;
  background: #688b82
  background-image:
  linear-gradient(60deg, #276096 20px, transparent 0), 
  linear-gradient(50deg, #c7f3ef 20px, transparent 0), 
  linear-gradient(20deg, #8abbea 20px, transparent 0)
  background-size:60px 100%, 50px 100%, 40px 100%;

  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}

.brand {
  display: block;
  padding: 0;
  background: none;

  &:hover { color: white; }
}

.site-search form { display: none; }
