.post-footer {
	margin-top: 30px;
}
@media (max-width: 991px) {
  .post-footer {
	margin-top: 0px;
}
}
.post-body>br{
	display:none;
}

body {
	background:url("http://yuicer.com/images/bg/beach.jpg") no-repeat;
	background-size:100vw;
	background-attachment:fixed;
	background-size:cover;
}
@media (max-width: 991px) {
  body {
	background: none;
	}
}
html {
	overflow-y: scroll;
}

:root {
	overflow-y: auto;
	overflow-x: hidden;
}

body {
	width: 100vw;
//	overflow: hidden;
}
@import "_full-image";
@import "_layout";
@import "_brand";
@import "_menu";
@import "_sidebar";
@import "_posts";
