#album_box {
	margin: 0 auto;
	display: table;
}

.col {
	float: left;
	width: 220px;
	margin: 0 15px;
}

.col_box {
	box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, .3);
	border-radius: 5px;
	background: #5b737f;
	margin: 30px 0;
	overflow: hidden;
}

.col_box>p {
	color: white;
	margin: 10px 15px 0px 15px;
	padding-bottom: 30px;
}

.col_img {
	width: 100%;
	max-height: 530px;
	overflow: hidden;
}
